@model dynamic
@{
    ViewData["Title"] = "Order - Add Food Items";
    int i = 0;
}

<script>
    function fun() {
        alert();
        var x = document.getElementById("cart-total");
        x.innerText = "5 PKR";
        var y = document.getElementById("xoxo");
        y.innerHTML = '<th>Total</th><td class="text - end"><span class="fw - semibold">0 PKR</span></td>' + y.innerHTML;
    };
</script>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Order - Add Food Items</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Order</a></li>
                                <li class="breadcrumb-item active">Add Food Items</li>
                            </ol>
                        </div>

                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Add Food Items - Order # @Model.Order.Id </h4>
                            <div class="flex-shrink-0">
                                <div class="form-check form-switch form-switch-right form-switch-md">
                                    <a class="btn btn-warning" href="/orders">Go Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-xl-8">
                    <div class="row align-items-center gy-3 mb-3">
                        <div class="col-sm">
                            <div>
                                <h5 class="fs-14 mb-0">Food Items</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (FoodItemViewModel foodItem in Model.FoodItems)
                        {
                            <div class="col-xxl-5">
                                <div class="card product " style="margin-right:20px">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm">
                                                <h5 class="text-truncate">
                                                    <span class="text-dark">@foodItem.Name</span>
                                                </h5>
                                                <form asp-action="AddOrderDetail" method="post">

                                                    <input type="hidden" value="@foodItem.Id" id="FoodItemId" name="FoodItemId">
                                                    <input type="hidden" value="@Model.Order.Id" id="OrderId" name="OrderId">
                                                    <input type="hidden" value="@foodItem.Price" id="Price" name="Price">

                                                    <div class="input-step">
                                                        @if (@foodItem.Quantity < 1)
                                                        {
                                                            <button disabled type="submit" class="minus">–</button>
                                                        }
                                                        else
                                                        {
                                                            <button type="submit" class="minus">–</button>
                                                        }

                                                        <input type="number" class="product-quantity" value="@foodItem.Quantity" min="0" max="@foodItem.AvailableQuantity" id="Quantity" name="Quantity">
                                                        @*<button type="submit" class="plus">+</button>*@
                                                        @if (@foodItem.Quantity >= @foodItem.AvailableQuantity)
                                                        {
                                                            <button disabled style="cursor:no-drop" type="submit" title="This Item can't be added because its ingredients are missing from inventory." class="plus">+</button>
                                                        }
                                                        else
                                                        {
                                                            <button type="submit" class="plus">+</button>
                                                        }
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-sm-auto">
                                                <div class="text-lg-end">
                                                    <p class="text-muted mb-1">Item Price:</p>
                                                    <h5 class="fs-14">
                                                        $<span id="ticket_price"
                                                           class="product-price">@foodItem.Price</span>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            i++;
                        }
                    </div>
                </div>

                <div class="col-xl-4">

                    <div class="sticky-side-div">
                        <div class="card">
                            <div class="card-header border-bottom-dashed">
                                <h5 class="card-title mb-0">Order Summary</h5>
                            </div>
                            <div class="card-header bg-soft-light border-bottom-dashed">
                                <div class="row mb-2">
                                    <div class="col-sm">
                                        <h6>Created</h6>
                                    </div>
                                    <div class="col-sm-auto">
                                        <h6>@Model.Order.CreatedAt.ToString("dd/MM/yyyy hh:mm tt")</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-2">
                                <div class="table-responsive">
                                    <table class="table table-borderless mb-0">
                                        <tbody>
                                            @for (i = 0; i < Model.OrderDetails.Count; i++)
                                            {
                                                <tr>
                                                    <td>
                                                        @Model.OrderDetails[i].FoodItemFK.Name
                                                        <span>(x</span>@Model.OrderDetails[i].Quantity)
                                                    </td>
                                                    <td class="text-end" id="">@Model.OrderDetails[i].Price PKR</td>
                                                </tr>
                                                @*}*@
                                            }

                                            <tr class="table-active">
                                                <th>Total</th>
                                                <td class="text-end">
                                                    <span class="fw-semibold" id="cart-total">
                                                        @Model.Order.TotalPrice PKR
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <form asp-action="Confirm" method="post">
                            <input type="hidden" value="@Model.Order.Id" name="id" />
                            <input type="submit" class="btn btn-primary w-100" value="Confirm Order" />
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>