@using TechlunchApp.ViewModels

@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "All Orders";
    int i = 1;
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Orders</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Orders</a></li>
                                <li class="breadcrumb-item active">Show All</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->


            <div class="row">
                <div class="col-12">
                    @* @if (ViewBag.Message != null && ViewBag.Message == "success")
                    {
                    <div class="alert alert-success">Food item added succesfully.</div>
                    }else if(ViewBag.Message != null && ViewBag.Message == "error"){
                    <div class="alert alert-success">Food item added succesfully.</div>
                    }*@

                    <div class="card">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Orders</h4>
                            <div class="flex-shrink-0">
                                <div class="form-check form-switch form-switch-right form-switch-md">
                                    <a class="btn btn-primary" href="/orders/create">Add Order</a>
                                </div>
                            </div>
                        </div><!-- end card header -->

                        <div class="card-body">

                            <div class="live-preview">
                                <div class="table-responsive">
                                    <table class="table align-middle table-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">No.</th>
                                                <th scope="col">Total Price</th>
                                                <th scope="col">Created</th>
                                                <th scope="col">Actions</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var r in Model)
                                            {
                                                <tr>
                                                    <th>@i</th>
                                                    <td>@r.TotalPrice</td>
                                                    <td>@r.CreatedAt</td>
                                                    <td>
                                                        @if (!@r.Confirmed && @r.TotalPrice != 0)
                                                        {
                                                            <form asp-action="Confirm" method="post" style="display:inline-block;">
                                                                <input type="hidden" value="@r.Id" name="id" />
                                                                <input type="submit" class="link-primary confirm-btn edit-btn" value="Confirm" />
                                                            </form>
                                                        }
                                                        else if (@r.Confirmed)
                                                        {
                                                            <a class="edit-btn" href="/orders/details/@r.Id">Details</a>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (!@r.Confirmed)
                                                        {
                                                            <a href="/orders/additems/@r.Id" class="link-warning">
                                                                Add Food Items
                                                                <i class="ri-arrow-right-line align-middle"></i>
                                                            </a>
                                                        }
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
</div>